h3 {
  text-align: center;
}
h1 {
  text-align: center;
  fontSize: 50px;
}
#kev_image {
  margin: 0px 25px 15px 0px;
  float: left;
}
.borderClass{
  border-color: black;
  border-width:3px;
  border-style: solid;
}
